<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>933780612305-ki83o0bt1ifc2pddeo3iq3agpjp8hc81.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.933780612305-ki83o0bt1ifc2pddeo3iq3agpjp8hc81</string>
	<key>API_KEY</key>
	<string>AIzaSyAMJ5bZMTaIRfRrFelCa0jMRTks3mB9y6U</string>
	<key>GCM_SENDER_ID</key>
	<string>933780612305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.milov123.cryptosignalnest</string>
	<key>PROJECT_ID</key>
	<string>cryptosignalnest</string>
	<key>STORAGE_BUCKET</key>
	<string>cryptosignalnest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933780612305:ios:6e5fc8f670ace685e151f0</string>
	<key>DATABASE_URL</key>
	<string>https://cryptosignalnest-default-rtdb.firebaseio.com</string>
</dict>
</plist>